    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #f7f7f7;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .cols1 {
        height: 13vh;
    }

    .cols2 {
        height: 95vh;
        display: flex;
        flex-direction: row;
    }

    .vertical-nav {
        width: 220px;
        background: #1a73e8;
        padding: 10px;
        border-right: 1px solid #ddd;
        height: 97%;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .sidebar .tab-btn {
        padding: 12px;
        background: #ffffff;
        border: none;
        border-radius: 4px;
        text-align: left;
        cursor: pointer;
        font-size: 15px;
        transition: 0.3s;
    }

    .sidebar .tab-btn:hover {
        background: #e3f0ff;
    }

    .sidebar .active {
        background: #004ab8;
        color: white;
    }

.contents {
    flex: 1;
    display: flex;
    justify-content: center;
    justify -items: center;
    background: white;
    padding: 30px;
    overflow-y: auto;
    border-left: 1px solid #ccc;
}

    .tab-content {
        display: none;
    }

    .tab-content.show {
        display: block;
    }

@media (max-width: 600px) {

    .cols2 {
        flex-direction: column;
    }

    .vertical-nav {
        width: 98%;
        max-width: 98%;
        height: 20vh;
        border-bottom: 1px solid red;
        border-right: none;
    }

    .sidebar {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .sidebar .tab-btn {
        flex: 1 1 calc(50% - 10px); /* perfect equal width */
        text-align: center;
        font-size: 14px;
        padding: 10px;
    }

    .contents {
        height: 62vh;
        padding: 15px;
    }
}
