* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    border: 1px solid black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    padding: 20px;
    overflow: hidden;
}

.login-wrapper {
    border: 1px solid blue;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: white;
    padding: 40px 32px;
    border-radius: 18px;
    width: 500px;
    height: 90vh;
    box-shadow: 0 10px 35px rgba(0,0,0,0.25);
    text-align: center;
    animation: fadeIn .6s ease;
}

.logo {
    font-size: 45px;
    font-weight: bold;
    color: #0072ff;
    margin-top: 20px;
}

.sub-text {
    color: #555;
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #0072ff;
}

.input-group input {
    width: 100%;
    padding: 20px 13px 20px 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #0072ff;
    box-shadow: 0 0 10px rgba(0, 114, 255, 0.3);
    outline: none;
}

button {
    width: 100%;
    padding: 20px;
    background: #0072ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background: #0056c9;
}

.register {
    margin-top: 18px;
    font-size: 14px;
    color: #333;
    font-size: 20px;
}

.register a {
    text-decoration: none;
    color: #0072ff;
    font-weight: bold;
    font-size: 20px;
}

.register a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-card {
        padding: 32px 28px;
        max-width: 360px;
    }
}

@media (max-width: 480px) {
    .login-card {
        padding: 26px 22px;
        max-width: 320px;
    }
    .logo { font-size: 30px; }
    button { font-size: 15px; }
    .sub-text { font-size: 14px; }
}
