<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h2>Universe Cash</h2>
    <form action="#" th:action="@{/login}" method="post">
        <label>
            <input type="text" name="number" placeholder="Mobile Number or Email" required>
        </label>

        <label>
            <input type="text" name="pin" placeholder="PIN" required>
        </label>

        <button type="submit">Login</button>
    </form>
    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
    <a th:href="@{/register}" class="nav-btn">Register</a>
</div>
</body>
</html>
