<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}">
    <title>Register</title>
</head>
<body>
<div class="container">
    <h2>Register for GCash</h2>
    <form action="#" th:action="@{/register}" method="post" th:object="${account}">
        <label>
            <input type="text" th:field="*{accountId}" placeholder="ID Number" required>
        </label>

        <label>
            <input type="text" th:field="*{name}" placeholder="Full Name" required>
        </label>

        <label>
            <input type="email" th:field="*{email}" placeholder="Email" required>
        </label>

        <label>
            <input type="text" th:field="*{number}" placeholder="Mobile Number" required>
        </label>

        <label>
            <input type="number" th:field="*{pin}" placeholder="PIN" required>
        </label>
        <button type="submit">Register</button>
    </form>
    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
    <a th:href="@{/}" class="nav-btn">Login</a>
</div>
</body>
</html>
