version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: upay-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: upaydb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  springboot:
    build: .
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/upaydb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    ports:
      - "8080:8080"

volumes:
  mysql_data:
