<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/card.css}">
    <link rel="stylesheet" th:href="@{/css/transactionBtn.css}">
    <link rel="stylesheet" th:href="@{/css/overlay.css}">
    <title>E-Pay Dashboard</title>
</head>

<body>
<div class="container">
    <header>
        <div class="navbar-section">
            <div th:replace="fragments/navbar :: navbar"></div>
        </div>
    </header>

    <main>
        <div class="card-section">
            <div th:replace="fragments/card :: card"></div>
        </div>

        <div class="button-section">
            <div th:replace="fragments/btn-transaction :: transaction"></div>
        </div>
    </main>

    <footer>

    </footer>
</div>

<div>
    <div th:replace="fragments/overlay/cashIn :: cashInOverlay"></div>
    <div th:replace="fragments/overlay/transfer :: transferOverlay"></div>
    <div th:replace="fragments/overlay/transactionHistory :: transactionHistoryOverlay"></div>
</div>

<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/overlay.js}"></script>
</body>
</html>
