<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>E-Pay Dashboard</title>
</head>

<body>
<!--Cash In-->
<div id="cshInOverlay" class="overlay">
    <div class="modal-box">
        <span id="cshInClose" class="close-btn">&times;</span>
        <h1>Cash In</h1>

        <div th:if="${success}" style="color: green;">[[${success}]]</div>
        <div th:if="${error}" style="color: red;">[[${error}]]</div>

        <form th:action="@{/cash-in}" method="post">
            <label for="amounts">Amount</label>
            <input type="number" id="amounts" name="amounts" min="1" required><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
