<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/newPassword.css}">
    <title>Reset Password</title>
</head>
<body>
<div class="reset-container" th:fragment="newPass">
    <h2>Reset Password</h2>
    <form>
        <div class="input-group">
            <label>Old Password</label>
            <input type="password" name="oldPassword" required>
        </div>

        <div class="input-group">
            <label>New Password</label>
            <input type="password" name="newPassword" required minlength="6">
        </div>

        <div class="input-group">
            <label>Confirm New Password</label>
            <input type="password" name="confirmPassword" required minlength="6">
        </div>

        <button type="submit" class="btn-submit">Update Password</button>
    </form>
</div>
</body>
</html>
