<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="transaction">
    <div class="button-container">
        <button class="dashboard-btn" id="openCshInBtn">Cash In</button>
        <button class="dashboard-btn" id="openTransfer">Transfer</button>
        <button class="dashboard-btn">Billing</button>
        <button class="dashboard-btn">Load</button>
        <button class="dashboard-btn" id="openTransaction">Transaction History</button>
    </div>
</div>
</body>
</html>
