<div th:fragment="transactionModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Overlay Background (Hidden by default) -->
    <div class="overlay" id="popup" style="display:none;">
        <div class="modal-box" onclick="event.stopPropagation()">
            <h1>Cash In</h1>

            <form method="POST" th:action="@{/transfer-money}">
                <!-- Logged-in user's account -->
                <label>My Number</label>
                <span th:text="${account.accountNumber}"></span>

                <!-- Cash-in amount -->
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" required placeholder="Amount to Cash In" min="1" step="0.01">

                <button type="submit">Cash In</button>
                <button type="button" onclick="hideModal()">Cancel</button>
            </form>
        </div>
    </div>
</div>
